* {
  font-family: 'JetBrains Mono', monospace;
  color: #FFF;
}

body {
  background: repeating-linear-gradient(
      45deg,
      #87501F ,
      #87501F  150px,
      #2F4368 150px,
      #2F4368 300px
  );
}